[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
pandas = "*"
numpy = "*"
pyyaml = "*"
dvc = {extras = ["s3"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
